<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    #hello {
      width : 100%;
      font-size : 20pt; text-decoration : underline;
    }

    #world {
      width : 100%;
      background-color : yellow;
    }

    .container {
      background-color : skyblue;
      width : 900px;
      height : 700px;
    }

    .classLeft {
      text-align : left;
    }
  </style>
</head>
<body>
  <div id="app">
    <div v-bind:class="container" >
      <div v-bind:style="center">
        <p v-bind:id="idMessage">{{message}}</p>
        <p v-bind:id="idCase">
          <button v-bind:disabled="isButtonDisabled">Button</button>
          <button v-on:click="clickedButton(originalMessage)">눌러지는 버튼</button>
        </p>
        {{isButtonDisabled?"버튼 Disable":"버튼 활성화"}}
        <p>
          바뀌기 전 값 : {{modifyValue}}, <br />바뀐 후 값 : {{joinerMessage}}
        </p>
        <input v-model="message" />
        <h3 v-if="showFlag">Test</h3>

        <list-component v-bind:fw="fw" v-bind:idx="index" v-for="(fw, index) in fwList" :key="fw.key" v-on:setindex="selectedClick"></list-component>
        <editor-component v-if="isSelected" v-bind:fw="fwList[selectedIdx]"></editor-component>
        <h3 v-show="showFlag">Test2</h3>
      </div>
    </div>
  </div>

  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script>
    Vue.component('editor-component', {
      props : ['fw'],
      template : '<div><p>Key 값 : {{fw.key}}</p><p>해당 Value : <input v-model="fw.name" /></p></div>'
    });

    Vue.component('list-component', {
      props : ['fw', 'idx'],
      template : '<p @click="keyClick">[{{fw.key}}]=>{{fw.name}}</p>',
      methods : {
        keyClick : function() {
          this.$emit("setindex", this.idx);
        }
      }
    });

    new Vue({
      el : "#app",
      data : function() {
        return {
          originalModiVal : '이것은 바꿀 수 있는 값',
          modifyValue : '이것은 바꿀 수 있는 값',
          message : 'Hello World',
          originalMessage : 'Hello World',
          idMessage : 'hello',
          idCase : 'world',
          container : 'container',
          isButtonDisabled : true,
          center : 'width : 100%; margin : 0 auto; text-align : center; padding-top : 250px;',
          showFlag : true,
          left : 'classLeft',
          selectedIdx : -1,
          fwList : [
            {
              key : '001',
              name : 'vue.js'
            },
            {
              key : '002',
              name : 'spring framework'
            },
            {
              key : '003',
              name : 'angluarJS'
            }
          ]
        }
      },
      methods : {
        clickedButton : function(msg) {
          this.message = msg;
          this.showFlag = !this.showFlag;
        },
        selectedClick : function(idx) {
          this.selectedIdx = idx;
        }
      },
      computed : {
        joinerMessage : {
          get : function() {
            let tempValue = this.modifyValue;
            return tempValue.split(' ').join(", ");
          }
        },
        isSelected : function() {
          return this.selectedIdx >= 0;
        }
      },
      watch : {
        message : function(newVal, oldVal) {
          console.log("이전 값 : " + oldVal);
          this.modifyValue = this.originalModiVal + newVal.toUpperCase();
        }
      }

    });
  </script>
</body>
</html>
